# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
captures/

# Editor & IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties
android/app/build/
android/app/*.jks
android/key.properties

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/ephemeral/
ios/.symlinks/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/

# Windows
windows/flutter/ephemeral/
windows/.symlinks/

# Linux
linux/flutter/ephemeral/
linux/.symlinks/

# Web (jika ada, bisa ditambahkan)
# .dart_tool/build/

# File sensitif dan yang dibuat otomatis
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
.env
.env.*